name: Fetch Xray Config

on:
  workflow_dispatch:   # اجرای دستی
  schedule:
    - cron: "*/30 * * * *"  # هر ۳۰ دقیقه اتومات

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Download Xray Config
        run: |
          curl -s "https://raw.githubusercontent.com/MahsaNetConfigTopic/config/refs/heads/main/xray_final.txt" -o config.txt

      - name: Send Config to Telegram with Reason
        run: |
          # حالت ران رو تشخیص بده
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            REASON="Manual Run"
          else
            REASON="Scheduled Run"
          fi

          # زمان بعدی ارسال
          NEXT_RUN=$(date -d "+30 min" '+%Y-%m-%d %H:%M')

          # ارسال به تلگرام به صورت فایل
          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TOKEN }}/sendDocument" \
            -F chat_id="${{ secrets.CHAT_ID }}" \
            -F document=@config.txt \
            -F caption="Xray Config Update
Mode: $REASON
Next Update: $NEXT_RUN"
