name: Fetch Xray Config

# اجازه اجرای دستی + زمان‌بندی ۳۰ دقیقه
on:
  workflow_dispatch:   # برای اجرای دستی
  schedule:
    - cron: "*/30 * * * *"  # هر ۳۰ دقیقه

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      # مرحله اول: گرفتن کانفیگ از لینک Raw
      - name: Download Xray Config
        run: |
          curl -s "https://raw.githubusercontent.com/MahsaNetConfigTopic/config/refs/heads/main/xray_final.txt" -o config.txt

      # مرحله دوم: ارسال به تلگرام به صورت فایل
      - name: Send Config to Telegram
        run: |
          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TOKEN }}/sendDocument" \
          -F chat_id="${{ secrets.CHAT_ID }}" \
          -F document=@config.txt \
          -F caption="Xray Config Update"
