name: Fetch Config

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - run: |
          DATA=$(curl -s "https://raw.githubusercontent.com/MahsaNetConfigTopic/config/refs/heads/main/xray_final.txt")
          curl -s "https://api.telegram.org/bot${{ secrets.TOKEN }}/sendMessage" \
          -d chat_id="${{ secrets.CHAT_ID }}" \
          --data-urlencode text="$DATA"
